* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%),
    url("images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 400px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.banner-text {
  color: white;
  text-align: center;
}

.banner-title {
  color: white;
  text-align: center;
  font-size: 72px;
}

.banner-title {
  margin-top: 10px;
}   
.discount {
  text-align: center;
  font-size: 75px;
  color: #f00;
  margin-top: 20px;
}
.discount-text {
  text-align: center;
  color: #f00;
}

.discount-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.new-year-photo img {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* style.css */

.party-section {
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%),
    url("images/Vectorrr.png");
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.party-section-title {
  color: white;
  font-size: 64px;
  line-height: 60px;
  margin-left: 126px;
  padding-top: 120px;
}

.party-section p {
  color: white;
  margin-left: 126px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.party-section h5 {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 126px;
  font-size: 20px;
  margin-bottom: 50px;
}

.place-section {
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  background: linear-gradient(180deg, #ff00001a 0%, #ff000000 100%);
  height: 200px;
  width: 900px;
  margin: 0 auto;

  padding-top: 40px;
  margin-bottom: 50px;
}

.place-section button {
  text-align: center;
  padding: 8px 15px;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-bottom: 70px;
}
.offer img{
    width: 200px;
    height: 200px;
    border: 15px solid #F00;
    padding: 15px;
    border-radius: 463px;
}

.offer{
    display: flex;
    height: 400px;
    width: 900px;
    align-items: center;
    gap: 30px;
    margin: 0 auto;

}
 .offer .offer-img{
    border: none;
}